name: Node CI

on:
  push:
    branches: [master]

jobs:
  # build:
  #   name: Build Checks
  #   runs-on: ubuntu-latest
  #   # strategy:
  #   #   matrix:
  #   #     os: [ubuntu-latest, windows-latest, macOS-latest]
  #   steps:
  #     - uses: actions/checkout@v1
  #     - name: nodeJS unit test
  #       run: |
  #         #npm install
  #         #npm i -D mocha supertest
  #         npm run test

  #     - uses: actions/checkout@v1
  #     - name: reactJS unit test
  #       env:
  #         CI: false
  #         NODE_ENV: "development"
  #       run: |
  #         #cd client
  #         #npm install
  #         #npm run test
  #         ls

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    # needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        run: |
          sudo snap install --classic heroku
          cat >~/.netrc <<EOF
          machine api.heroku.com
            login ${{ secrets.EMAIL }}
            password ${{ secrets.API_KEY }}
          machine git.heroku.com
            login ${{ secrets.EMAIL }}
            password ${{ secrets.API_KEY }}
          EOF
          echo "done"
          git remote -v
          git remote add heroku https://git.heroku.com/dna-match.git
          git remote -v
          git fetch --unshallow origin
          git push heroku master
